*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar-brand{
    font-family: 'Lora', serif;
}
.nav-link{
    font-family: 'Roboto Mono', monospace;
}
.nav-link:hover{
    background-color: rgb(246, 235, 235);
    transition: 0.5s;
    border-radius: 2px;
    padding: 2px 2px;
}
.nav a{
    text-decoration: none;
    color: #b3b3b3;
}
.carousel-bg {
    background-image: url(../img/carrusel1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carousel-bg-2 {
    background-image: url(../img/carrusel2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carousel-bg-3 {
    background-image: url(../img/carrusel3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-item {
    height: 400px;
}
.icons i{
    font-size: 40px;
    margin: 0 18px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons a{
    color: #999;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-family: 'Roboto Mono', monospace;
}
.inicio img{
    border-radius: 20px;
    width: 100%;
    height: auto;
    padding: 10px;
}
.inicio{
    display: grid;
    grid-template-columns: repeat(
    auto-fit,
    minmax(150px, 1fr)
    );
    gap: 32px;
}
.card{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card-content {
    border: 1px solid #c1c1c1;
    border-radius: 0 0 4px 4px;
    border-top: 0;
    text-align: center;
    padding: 10px;
    flex-grow: 1;
}
/* .card-body{
    width: auto;
    height: 100px;
} */
.card-title{
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 1rem !important;
    flex-grow: 1;
}
/* .card-text{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */
.card-pant img{
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}
.bg-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    font-family: 'Lora', serif;
    background-image: url(../img/h1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-inicio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
ul i{
    font-size: 25px;
    margin: 15px;
    width: 40px;
    height: auto;
}
@media screen and (max-width: 500px) {
    footer {
        flex-direction: column;
    }
}
@media screen and (max-width:414px) {
    .container-inicio{
        flex-direction: column;
    }
}